*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}
.App
{
  text-align: center;
}

#kush
{
  background-color: #00122e;
  width: 100%;
  height: 100vh;
  position: relative;
  color: white;
}
nav
{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #182842;
  width: 90px;
  padding: 10px 0;
}
nav .logo
{
  display: block;
  margin: auto;
  cursor: pointer;
}
ul
{
  margin: auto;
  text-align: center;
  justify-content: space-around;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;}

#kush
{
  width: 40%;
  padding: 10px;
  margin: 0;
  background-color: whitesmoke;
  box-shadow: 16px 16px 16px 16px lightgray;
  margin: auto;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 105px;

}
label{
  text-align: left;
}